<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elevatoriotandar.app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
<!--    android:icon="@mipmap/ic_launcher">-->
<!--    android:name=".MainActivity"-->
<!--    android:launchMode="singleTop"-->
<!--    android:theme="@style/LaunchTheme"-->
<!--    android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"-->
<!--    android:hardwareAccelerated="true"-->
<!--    android:windowSoftInputMode="adjustResize"-->
<!--    android:exported="true">-->
</manifest>
